:root {
  --wheat: #D9C179;
  --tan: #D9CBA3;
  --brown: #736140;
  --lightbrown: #A6977C;
  --offwhite: #F2EBDC;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  background: radial-gradient(var(--offwhite), var(--lightbrown), var(--tan));

  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

/* video_container <div> and other video style */
.video_container {
  width: 100%;
  height: 580px;
  position: relative;
}

.video_container_2 {
  border-bottom: solid 5px var(--brown); 
}

.video {
  float: left;
}

.video_snowfall {
  border-bottom: solid 5px var(--brown);
}

#walk_video_1 {
  transform:rotate(270deg);
}

#walk_video_2 {
  transform: rotate(90deg);
}

/* text_block <div> and poem_text <p> style */
.text_block {
  position: absolute;
  top: 0;
  left: 5%;
}

.text_block_2 {
  position: absolute;
  top: 40%;
  right: 5%;
} 
.poem_text_1 {
  font-size: 28px;
  text-align: left;
  color: var(--brown);
  text-shadow: 1px 1px 1px var(--offwhite);
}

.poem_text_2 {
  font-size: 28px;
  text-align: left;
  color: var(--wheat);
  text-shadow: 1px 1px 1px var(--brown);
}

/* style for image gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}